<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilcabana.atp.despachocombustible">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActListaQuincenas"
            android:label="ActListaQuincenas" />
        <activity
            android:name=".ActListaEnvios"
            android:label="@string/title_activity_act_lista_envios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActEnviosRealizados"
            android:label="@string/title_activity_act_envios_realizados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActMenuInicio" />
        <activity
            android:name=".ActDespachoCombustible"
            android:label="@string/title_activity_act_despacho_combustible"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
